// featured

.featured {
	text-align: center;

	padding-bottom: 40px;
}

.featured-title {
	color: $text-1;
	font-size: 4em;
	margin-bottom: 20px;
}

.featured-text {
	color: rgba($text-1, .9);
	font-size: 1.8em;
	font-weight: 600;

	margin: 0;

	p {
		margin: 4px 0;
	}

	i {
		margin-right: 4px;
	}
}

.featured-date {
	color: $text-1;
	font-size: 3em;
	font-weight: 800;

	p {
		margin: 0 0 10px;
	}
}

.featured-btn {
	padding: 60px 0 60px;

	.btn {
		margin: 0 10px;
	}
}